/* .head{
    border:1px solid black;
    background-color:brown;
    text-align:center;
    border-radius:10px;
    align-content: center; */
    
}
.layout{
   
    border:1px solid black;
    margin-top: 40px;
    position: absolute;
    top:50px;
    left:50px;
    transform:trnaslate(-50%,-50%);
    display:flex;
    flex-direction: column;
   align-content: center;
    align-items: center;
    padding:20px;
    background-color: gray;
}
.row{
display: flex;
}
.btns{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid gray;
    margin:5px;
    box-shadow:5px 5px 5px 5px;
}

.btns:hover{
    cursor:pointer;
}

.layoutchilds{
    margin-top:10px;
}
#resultInput{
    height: 30px;
    border:2px solid gray;
    border-radius:10px;

}